---
import Layout from "/src/layouts/accelerate/Layout.astro";

import { Image } from "astro:assets";
import icon from "/src/assets/accelerate/icon.png";
import screenshot from "/src/assets/accelerate/screenshot.png";
import appStore from "/src/assets/appstore_black.svg";
import macAppStore from "/src/assets/macappstore_black.svg";

const notes = [
    {
        title: "Adjust playback speed",
        description:
            "Instantly speed up or slow down videos, allowing you to follow alongside tutorials, zoom through lectures, and boost your productivity.",
    },
    {
        title: "Keyboard shortcuts",
        description:
            "Create convenient shortcuts that work across your favorite video websites, so you can easily control playback and toggle features like Picture-in-Picture.",
    },
    {
        title: "Extensive website support",
        description:
            "Accelerate supports any website that uses HTML5 video, including YouTube, Netflix, and more.",
    },
];
---

<Layout title="Home">
    <div class="flex flex-col gap-6 items-center text-center">
        <h1 class="mb-0">Video playback controls for Safari</h1>
        <p class="text-xl font-extralight">
            Accelerate is a Safari extension with powerful, customizable
            features for controlling video playback.
        </p>

        <Image
            src={screenshot}
            alt="Screenshot of Accelerate on an iPad and iPhone"
            loading="eager"
        />

        <div class="flex gap-2">
            <a
                href="https://apps.apple.com/app/accelerate-for-safari/id1459809092?mt=12"
            >
                <Image src={macAppStore} alt="Download on the Mac App Store" loading="eager" />
            </a>
            <a
                href="https://apps.apple.com/app/accelerate-for-safari/id1459809092?mt=8"
            >
                <Image src={appStore} alt="Download on the App Store" loading="eager" />
            </a>
        </div>
        <div class="text-zinc-400">
            <p>
                Free and <a href="https://github.com/ritamsarmah/accelerate"
                    >open source</a
                >
            </p>
            <p>Supports macOS 10.13+ and iOS 15+</p>
        </div>
    </div>

    <div class="mt-12">
        {
            notes.map(note => (
                <div>
                    <h2>{note.title}</h2>
                    <p>{note.description}</p>
                </div>
            ))
        }
    </div>
</Layout>
