---
import { Image } from "astro:assets";

import Email from "../components/Email.astro";
import type { Link } from "../types";

interface Props {
    name: string;
    icon: ImageMetadata;
    links: Link[];
}

// Get the href for the home page
const { name, icon, links } = Astro.props;
---

<nav>
    <div class="flex flex-wrap items-center justify-between">
        <a
            href={links[0].href}
            class="flex items-center space-x-3"
        >
            <Image
                class="w-6 h-6"
                src={icon}
                alt="Go to homepage"
                loading="eager"
            />
            <span class="self-center font-semibold whitespace-nowrap"
                >{name}</span
            >
        </a>

        <button
            id="navbar-toggle"
            data-collapse-toggle="navbar-default"
            type="button"
            class="inline-flex items-center justify-center text-sm text-gray-500 md:hidden"
            aria-controls="navbar-default"
            aria-expanded="false"
        >
            <span class="sr-only">Open navigation</span>
            <svg
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                    <path fill-rule="evenodd" d="M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75ZM2 10a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 10Zm0 5.25a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
            </svg>
        </button>

        <!-- Mobile ToC -->
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul
                class="flex flex-col text-right border-t border-zinc-200 p-2 mt-4 md:flex-row md:space-x-8 md:mt-0 md:border-0"
            >
                {
                    links.map(link => (
                        <li>
                            <a
                                href={link.href}
                                class="block py-2 md:p-0 hover:text-[color:var(--accent)]"
                            >
                                {link.text}
                            </a>
                        </li>
                    ))
                }
                <Email>
                    <li>
                        <a
                            class="block py-2 md:p-0 hover:text-[color:var(--accent)]"
                            href="javascript:mail();">Support</a
                        >
                    </li>
                </Email>
            </ul>
        </div>
    </div>
</nav>

<script is:inline>
    document
        .getElementById("navbar-toggle")
        .addEventListener("click", function () {
            const navbar = document.getElementById("navbar-default");
            navbar.classList.toggle("hidden");
        });
</script>
