---
// Supports weights 200-900
import "@fontsource-variable/mulish";

import Footer from "../../components/Footer.astro";
import Head from "../../components/Head.astro";
import Navigation from "../../components/Navigation.astro";

import icon from "../../assets/accelerate/icon.png";

import "../../styles/accelerate.css";

type Frontmatter = {
    title: string;
};

interface Props {
    frontmatter?: Frontmatter;
    title: string;
}

const title = Astro.props.frontmatter?.title ?? Astro.props.title;
const description =
    "Accelerate is a Safari extension with powerful, customizable features for controlling video playback.";

const project = "Accelerate";
const links = [
    {
        text: "Home",
        href: "/projects/accelerate",
    },
    {
        text: "FAQ",
        href: "/projects/accelerate/faq",
    },
    {
        text: "Privacy",
        href: "/projects/accelerate/privacy",
    },
];
---

<!doctype html>
<html lang="en">
    <Head site={project} page={title} description={description} />
    <body
        class="flex flex-col gap-12 min-h-screen w-full max-w-3xl px-6 mx-auto my-6"
    >
        <Navigation name={project} icon={icon} links={links} />
        <main class="flex-grow">
            <slot />
        </main>
        <Footer class="text-zinc-400 mt-8 mb-4" />
    </body>
</html>

<style is:global>
    :root {
        --accent: #7252df;
    }

    body {
        font-family: "Mulish Variable", sans-serif;
    }

    /* General */
    p {
        font-weight: 300;
    }

    article p:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    main a {
        color: var(--accent);
    }

    main a:hover {
        text-decoration: underline;
    }

    main strong {
        font-weight: 600;
    }

    h1 {
        font-weight: bold;
        font-size: 2.25rem; /* 36px */
        line-height: 2.5rem; /* 40px */
        text-align: center;
    }

    article header {
        margin-bottom: 3rem;
    }

    h2 {
        font-weight: 600;
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem; /* 28px */
        margin: 1.5rem 0 1rem 0;
        padding: 0;
    }

    /* Lists */

    article ul,
    ol {
        margin-left: 2rem;
        list-style-position: outside;
    }

    article ul:not(:last-child) ol:not(:last-child) {
        margin-bottom: 1rem;
    }

    article ul {
        list-style-type: disc;
    }

    article ul ul {
        list-style-type: circle;
    }

    article ul ul ul {
        list-style-type: square;
    }

    article ol {
        list-style-type: decimal;
    }

    article li::before {
        content: "";
        width: 0.25rem;
        display: inline-block;
    }

    article li {
        margin-bottom: 0.2rem;
        font-weight: 300;
    }
</style>
